*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 154, 203);
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(4, 81, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(1, 25, 33);
}
.page2 img{
    height: 700px;
    width: 500px;
    object-fit: cover;
    object-position: center;

}